@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-750 {
    animation-delay: 0.75s;
  }
  .animation-delay-1500 {
    animation-delay: 1.5s;
  }
  .font-title {
    font-family: 'Novecentosanswide-DemiBold', sans-serif;
  }
}

@font-face {
  font-family: 'MyriadPro-It';
  src: url('./fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('./fonts/HelveticaNeueBd.ttf') format('truetype');
}

@font-face {
  font-family: 'Novecentosanswide-DemiBold';
  src: url('./fonts/Novecentosanswide-DemiBold.woff') format('woff');
}

html, body, #root {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-slide {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-slide-active {
  opacity: 1;
  pointer-events: unset;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}
