@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-750 {
    animation-delay: 0.75s;
  }
  .animation-delay-1500 {
    animation-delay: 1.5s;
  }
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('./fonts/MyriadPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'MyriadPro-It';
  src: url('./fonts/MyriadPro-It.woff') format('woff');
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('./fonts/MyriadPro-Bold.woff') format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'MyriadPro-Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
